/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #0a0a0a; /* Dark background */
  color: #ffffff;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3 {
  margin: 0;
}

button {
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}
